.running-license {
    position: running(runningLicense);
    font-size: 8pt;
    border: 1px solid #003;
    color: white;
    background: #003;
    padding: .5em;
}
.running-license a {
    color: white;
}

@page {
    margin: 2cm 2cm 2cm 2cm;
}

@page :right {
@top-left {
    content: element(runningLicense)
    }
}

@page :left {
@top-left {
    content: element(runningLicense)
    }
}